.wallpaper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.discriptionBlock {
  padding: 10px;
  display: flex;
}
.discription {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.discriptionItem {
  font-size: 20px;
  padding: 7px;
}
.name {
  font-size: 30px;
  font-weight: bold;
}
.avatar {
  margin-left: 50px;
}
.avatar img {
  width: 180px;
  border-radius: 50%;
}
.id {
  color: gray;
  margin-left: 20px;
  font-size: 20px;
}


