.header {
  grid-area: h;
  background-color: #9F69D6;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.header img {
  height: 100%;
}

.header h1 {
  color: white;
  text-align: left;
  margin: 0;
  font-size: 40px;
}
.header a {
  color: white;
  font-size: 20px;
}