.nav {
  grid-area: n;
  background-color: #9F69D6;
  padding: 10px;
}

.item {
  color: white;
  padding: 5px;
}
.item a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}

.item a.active {
  color: #542881;
}

