.item .ava {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 70px;
}
.item {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #F5F5F5;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.contentPostItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like{
  font-size: 25px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.like img {
  margin-left: 5px;
  width: 32px;
  height: 32px;
}